<template>
  <div>
    <div class="columns">
      <div class="column is-3-desktop">
        <div class="datepicker-trigger">
          <input
            id="datepicker-trigger"
            class="input"
            type="text"
            placeholder="Select dates"
            :value="formatDates(dateOne, dateTwo)"
          >

          <AirbnbStyleDatepicker
            :trigger-element-id="'datepicker-trigger'"
            :mode="'range'"
            :fullscreen-mobile="true"
            :date-one="dateOne"
            :date-two="dateTwo"
            @date-one-selected="
              val => {
                dateOne = val;
              }
            "
            @date-two-selected="
              val => {
                dateTwo = val;
              }
            "
          />
        </div>
      </div>
      <div class="column is-3-desktop">
        <v-autocomplete
          v-model="first_item"
          :input-attrs="{ class: 'input', name: 'First stock' }"
          :items="first_items"
          :placeholder="'Select first index'"
          :get-label="getLabel"
          :component-item="template"
          @update-items="updateFirstItems"
        />
      </div>
      <div class="column is-3-desktop">
        <v-autocomplete
          v-model="second_item"
          :input-attrs="{ class: 'input', name: 'Second stock' }"
          :items="second_items"
          :placeholder="'Select second index'"
          :get-label="getLabel"
          :component-item="template"
          @update-items="updateSecondItems"
        />
      </div>
      <div class="column is-3-desktop">
        <button
          :disabled="!isBothItemsSelected"
          class="button"
          @click="calcVariance"
        >
          Calc variance
        </button>
      </div>
    </div>
    <p v-if="covarianseResult">
      {{ resultingText }}
    </p>

    <hr />

    <div v-if="first_item && covarianseResult">
      {{ first_item.title }}
    </div>

    <table v-if="covarianseResult" class="table is-striped">
      <thead>
        <tr>
          <th>Open</th>
          <th>Close</th>
          <th>Difference</th>
        </tr>
      </thead>
      <tr v-for="summary of this.first_item.selectedHistoryItems">
        <td>{{ summary["open"] }}</td>
        <td>{{ summary["close"] }}</td>
        <td>{{ summary["difference"] }}</td>
      </tr>
    </table>

    <div v-if="second_item && covarianseResult">
      {{ second_item.title }}
    </div>

    <table v-if="covarianseResult" class="table is-striped">
      <thead>
        <tr>
          <th>Open</th>
          <th>Close</th>
          <th>Difference</th>
        </tr>
      </thead>
      <tr v-for="summary of this.second_item.selectedHistoryItems">
        <td>{{ summary["open"] }}</td>
        <td>{{ summary["close"] }}</td>
        <td>{{ summary["difference"] }}</td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios, { AxiosResponse } from "axios";
import AutocompleteItem from "@/components/covariance/autocomplete_item.vue";
import { API } from "types/api";
import routes from "utilities/routes";
import { intersection, sumBy, last, first } from "lodash";
import { WorldTradingAPI } from "types/world_trading_api";
import { format } from "date-fns";

interface IDailySummary extends WorldTradingAPI.DailySummary {
  difference?: number;
}

export default {
  components: {},
  data: function() {
    return {
      dateFormat: "D MMM",
      dateOne: "",
      dateTwo: "",
      first_item: null,
      first_items: [],
      second_item: null,
      second_items: [],
      template: AutocompleteItem,
      interSectionDates: null,
      covarianseResult: null
    };
  },
  computed: {
    isBothItemsSelected() {
      return this.first_item && this.second_item;
    },
    resultingText() {
      return `Resulting covariance is ${this.covarianseResult}. Used ${
        this.interSectionDates.length
      } dates. First date is ${last(
        this.interSectionDates
      )} and last is ${first(this.interSectionDates)}`;
    }
  },
  async mounted() {
    this.calcVariance = this.calcVariance.bind(this);
  },
  methods: {
    formatDates(dateOne, dateTwo) {
      let formattedDates = "";
      if (dateOne) {
        formattedDates = format(dateOne, this.dateFormat);
      }
      if (dateTwo) {
        formattedDates += " - " + format(dateTwo, this.dateFormat);
      }
      return formattedDates;
    },
    async calcVariance() {
      for (let item of [this.first_item, this.second_item]) {
        let results = await axios.get(
          routes.api.stock_symbol_daily_summaries(item.title)
        );
        item.history = results.data.data;
      }

      this.removeUnmatchedDates();
    },
    removeUnmatchedDates() {
      const first_item_dates = this.first_item.history.map(item => item.date);
      const second_item_dates = this.second_item.history.map(item => item.date);
      this.interSectionDates = intersection(
        first_item_dates,
        second_item_dates
      );

      if (this.dateOne && this.dateTwo) {
        this.interSectionDates = this.interSectionDates.filter(date => {
          return date >= this.dateOne && date <= this.dateTwo;
        });
      }

      this.first_item.selectedHistoryItems = this.first_item.history.filter(
        function(item) {
          return this.interSectionDates.includes(item.date);
        }.bind(this)
      );
      this.second_item.selectedHistoryItems = this.second_item.history.filter(
        function(item) {
          return this.interSectionDates.includes(item.date);
        }.bind(this)
      );

      this.first_item.selectedHistoryItems = this.first_item.selectedHistoryItems.map(
        item => {
          item.difference = parseFloat(item.close) - parseFloat(item.open);
          return item;
        }
      );
      this.second_item.selectedHistoryItems = this.second_item.selectedHistoryItems.map(
        item => {
          item.difference = parseFloat(item.close) - parseFloat(item.open);
          return item;
        }
      );

      const first_selected_items_mean =
        sumBy(this.first_item.selectedHistoryItems, function(
          item: IDailySummary
        ) {
          return item.difference;
        }) / this.first_item.selectedHistoryItems.length;
      const second_selected_items_mean =
        sumBy(this.second_item.selectedHistoryItems, function(
          item: IDailySummary
        ) {
          return item.difference;
        }) / this.second_item.selectedHistoryItems.length;

      let totalSum = 0;
      for (let i = 0; i < this.interSectionDates.length; i++) {
        const rowResult =
          (this.first_item.selectedHistoryItems[i].difference -
            first_selected_items_mean) *
          (this.second_item.selectedHistoryItems[i].difference -
            second_selected_items_mean);
        totalSum += rowResult;
      }

      this.covarianseResult = totalSum / this.interSectionDates.length;
    },
    getLabel(item) {
      return item.title;
    },
    async updateFirstItems(text): Promise<void> {
      const items = await this.search(text);
      this.first_items = items;
    },
    async updateSecondItems(text): Promise<void> {
      const items = await this.search(text);
      this.second_items = items;
    },
    async search(searchQuery): Promise<API.IStockSymbol[]> {
      const queryParams = {
        params: {
          search_query: searchQuery
        }
      };

      const url = routes.search_stock_symbols();
      const results = await axios.get(url, queryParams);

      return JSON.parse(results.data.data);
    }
  }
};
</script>

<style lang="scss">
.v-autocomplete-input {
  //@include
}
</style>
