<template>
  <div class="container">
    <h2 class="subtitle">
      Price movements
    </h2>

    <div v-if="values">
      <IntradayShortTextSummary :result="result" :values="values" />

      <IntradayChart
        :result="result"
        :ticks="ticks"
        :ticks-format="ticksFormat"
        :values="values"
      />

      <div class="buttons">
        <button
          v-for="range in Object.keys(ranges)"
          :class="[
            'button',
            {
              'is-link': ranges[range].active,
              'is-loading': ranges[range].loading
            }
          ]"
          @click="selectInterval(range)"
        >
          {{ ranges[range].label }}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios, { AxiosResponse } from "axios";
import routes from "utilities/routes";
import { WorldTradingAPI } from "types/world_trading_api";
import IIntradayStockData = WorldTradingAPI.IIntradayStockData;
import IntradayChart from "@/components/intraday_chart/intraday_chart.vue";
import IntradayShortTextSummary from "@/components/intraday_chart/intraday_short_text_summary.vue";
import * as d3 from "d3";
import { subDays, format } from "date-fns";
import {RangesManagement} from "views/daily_chart/ranges_management";

export default {
  components: {
    IntradayChart,
    IntradayShortTextSummary
  },
  data() {
    return {
      stockSymbol: this.$root.stockSymbol,
      stockSymbolTitle: this.$root.stockSymbolTitle as string,
      ranges: RangesManagement.availableRanges
    };
  },
  computed: {
    result(): "positive" | "negative" {
      const freshest: any = Object.values(this.values)[0];
      const oldest: any = Object.values(this.values)[
        Object.values(this.values).length - 1
      ];

      return Number(freshest.close) - Number(oldest.open) > 0
        ? "positive"
        : "negative";
    },
    values() {
      return this.activeRange.values || [];
    },
    ticks() {
      return this.activeRange.ticks;
    },
    ticksFormat() {
      return this.activeRange.ticksFormat;
    },
    activeRange() {
      let selectedRange = {};

      for (let key in this.ranges) {
        if (this.ranges[key].active === true) {
          selectedRange = this.ranges[key];
        }
      }

      return selectedRange;
    },
    loadingRange() {
      let selectedRange = {};

      for (let key in this.ranges) {
        if (this.ranges[key].loading === true) {
          selectedRange = this.ranges[key];
        }
      }

      return selectedRange;
    }
  },
  mounted() {
    this.getStockDailydata();
  },
  methods: {
    async getStockDailydata() {
      const params = {
        symbol: this.stockSymbolTitle,
        interval: this.loadingRange.interval,
        range: this.loadingRange.range
      };

      const response = await axios.get<IIntradayStockData>(
        routes.api.intraday_stock_market_data,
        { params }
      );

      this.loadingRange.values = response.data.intraday;
      this.toggleRange()
    },
    async getStockHistoryData(
      options: { date_from?: string; date_to?: string } = {}
    ) {
      const params = {
        symbol: this.stockSymbolTitle,
        ...options
      };

      const response = await axios.get(
        routes.api.stock_symbol_daily_summaries(this.stockSymbolTitle),
        { params }
      );

      let values = {};

      response.data.data.forEach(valueForDay => {
        values[valueForDay.date] = valueForDay;
        values[valueForDay.date].date = valueForDay.date;
      });

      this.loadingRange.values = values;
      this.toggleRange()
    },
    selectInterval(range: number | 'all') {
      this.setRangeLoading(range);

      if (range == 'all') {
        if (this.ranges[range].values == null) {
          this.getStockHistoryData();
        } else {
          this.toggleRange()
        }
      }

      if ([1, 7, 30].includes(Number(range))) {
        if (this.ranges[range].values == null) {
          this.getStockDailydata();
        } else {
          this.toggleRange()
        }
      }

      if ([90, 365].includes(Number(range))) {
        if (this.ranges[range].values == null) {
          let dateFrom = format(
            subDays(new Date(), range as number),
            "YYYY-MM-DD"
          );
          this.getStockHistoryData({ date_from: dateFrom });
        } else {
          this.toggleRange()
        }
      }
    },
    setRangeLoading(range) {
      for (let key in this.ranges) {
        if (this.ranges[key].range == range) {
          this.ranges[key].loading = true;
        }
      }
    },
    toggleRange() {
      this.activeRange.active = false;
      this.loadingRange.active = true;
      this.activeRange.loading = false;
    }
  }
};
</script>
