<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Company name</th>
          <th />
        </tr>
      </thead>
      <tbody>
        <tr v-for="stock in favorited_stocks">
          <td>{{ stock.links.stock_symbol.title }}</td>
          <td>{{ stock.links.stock_symbol.full_name }}</td>
          <td>{{ stock.links.market.title }}</td>
          <td>
            <a :href="stock_url(stock)">Open</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import axios, { AxiosResponse } from "axios";
import routes from "@/utilities/routes";
import { API } from "types/api";
import IUserFavoritedStock = API.IUserFavoritedStock;

export default {
  name: "FavoritedStocksList",
  data() {
    return {
      favorited_stocks: []
    };
  },
  mounted(): void {
    this.getUserFavoritedStocks();
  },
  methods: {
    async getUserFavoritedStocks() {
      const result = await axios.get<{ data: IUserFavoritedStock[] }>(
        routes.api.user.favorited_stocks
      );
      this.favorited_stocks = result.data.data;
    },
    stock_url(stock) {
      return routes.market_stock_symbol(
        stock.links.market.slug,
        stock.links.stock_symbol.slug
      );
    }
  }
};
</script>
