<template>
  <div>
    <form class="formContainer" action="">
      <div class="field">
        <label class="label">Search by company title</label>
        <div class="control">
          <input
            v-model="searchQuery"
            class="input"
            type="text"
            @input="throttledSave"
          >
        </div>
      </div>
    </form>

    <div class="itemsList">
      <div v-for="result in results" class="itemsList__item">
        <a v-if="result.slug" :href="routeToSymbol(result)">
          {{ stockTitle(result) }}
        </a>
      </div>
    </div>

    <div v-if="loading">
      Gettting information. Please wait.
    </div>

    <div v-if="!results.length && !loading">
      There is no results.
    </div>

    <Pagination
      v-if="results.length"
      v-model="currentPage"
      :results-pagination-info="resultsPaginationInfo"
      @nextPage="nextPage"
      @previusPage="previusPage"
    />
  </div>
</template>

<script lang="ts">
import axios, { AxiosResponse } from "axios";
import { debounce } from "lodash";
import routes from "@/utilities/routes";
import { API } from "types/api";
import pagination from "@/components/search_stock_summary/pagination.vue";

export default {
  components: {
    Pagination: pagination
  },
  data() {
    return {
      marketID: this.$root.market,
      searchQuery: null as null | string,
      results: [] as API.IStockSymbol[],
      resultsPaginationInfo: {} as API.IPaginationInfo,
      currentPage: 1,
      loading: true
    };
  },
  computed: {
    throttledSave: function() {
      let DELAY = 1000;
      return debounce(this.search, DELAY);
    }
  },
  async mounted() {
    this.search();
  },
  methods: {
    async search() {
      this.loading = true;

      const queryParams = {
        params: {
          search_query: this.searchQuery,
          page: this.currentPage
        }
      };

      const url = this.searchURL();
      const results = await axios.get(url, queryParams);

      if (
        typeof results.data.data === "string" ||
        results.data.data instanceof String
      ) {
        this.results = JSON.parse(results.data.data);
      } else {
        this.results = results.data.data;
      }

      this.resultsPaginationInfo = results.data.meta;
      this.loading = false;
    },
    async fetchUserFavorites() {},
    routeToSymbol(symbol: API.IStockSymbol) {
      return this.marketID
        ? routes.market_stock_symbol(this.marketID, symbol.slug)
        : routes.market_stock_symbol(symbol.market.slug, symbol.slug);
    },
    nextPage() {
      this.currentPage += 1;
      this.search();
    },
    previusPage() {
      this.currentPage -= 1;
      this.search();
    },
    stockTitle(stockSymbol: API.IStockSymbol): string {
      return stockSymbol.full_name === "N/A" ||
        stockSymbol.full_name.length === 0
        ? stockSymbol.title
        : stockSymbol.full_name;
    },
    searchURL() {
      return this.marketID
        ? routes.search_market_stock_symbols(this.marketID)
        : routes.search_stock_symbols();
    }
  }
};
</script>

<style lang="scss" scoped>
.formContainer {
  display: flex;

  > div {
    margin-right: 20px;
  }
}
</style>
