<template>
  <div>
    <div v-if="selectedStock">
      {{ selectedDateDescription }}
    </div>

    <div v-if="loading">
      Getting information
    </div>

    <ShortSummary :slug="stockSymbolTitle" />

    <div class="horizontalSpace" />

    <h2 class="subtitle">
      Annual summary
    </h2>

    <keep-alive>
      <AnnualStockSummary
        v-if="mode == 'annual' && !loading"
        :summaries="grouppedByYear"
        @selectYear="selectYear"
      />
    </keep-alive>

    <YearStockSummary
      v-if="mode == 'year'"
      :year="selectedYear"
      :summaries="stocks"
      @changeMode="changeMode"
    />

    <!--    <div class="container">-->
    <!--      <div-->
    <!--        @click='selectDate(stock)'-->
    <!--        v-for="stock in stocks"-->
    <!--        v-bind:style="{ width: barWidth + 'px' }"-->
    <!--        v-bind:class="[resultColor(stock), 'bar']"-->
    <!--      />-->
    <!--    </div>-->
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios, { AxiosResponse } from "axios";
import { WorldTradingAPI } from "types/world_trading_api";
import * as dayjs from "dayjs";
import "dayjs/locale/ru";
import routes from "utilities/routes";
import { groupBy } from "lodash";
import AnnualStockSummary from "@/components/stock_lifetime_summary/annual_stock_summary.vue";
import YearStockSummary from "@/components/stock_lifetime_summary/year_stock_summary.vue";
import ShortSummary from "@/components/stock_lifetime_summary/short_summary.vue";

export default {
  components: {
    AnnualStockSummary,
    YearStockSummary,
    ShortSummary
  },
  data: function() {
    return {
      mode: "annual",
      stocks: [] as WorldTradingAPI.DailySummary[],
      barWidth: null as number,
      selectedStock: null as null | WorldTradingAPI.DailySummary,
      stockSymbol: this.$root.stockSymbol,
      stockSymbolTitle: this.$root.stockSymbolTitle,
      marketID: this.$root.marketID,
      selectedYear: null,
      loading: true
    };
  },
  computed: {
    selectedDateDescription() {
      const date = dayjs(this.selectedStock.date)
        .locale("ru")
        .format("DD MMM YYYY");
      return `${date}`;
    },
    grouppedByYear() {
      const grouppedByYear: {
        [index: string]: WorldTradingAPI.DailySummary[];
      } = groupBy(
        this.stocks as WorldTradingAPI.DailySummary[],
        (daily_summary: WorldTradingAPI.DailySummary) => {
          return daily_summary.date.slice(0, 4);
        }
      );

      let grouppedByMonth = {};

      for (let year in grouppedByYear) {
        grouppedByMonth[year] = groupBy(
          grouppedByYear[year],
          (daily_summary: WorldTradingAPI.DailySummary) => {
            return daily_summary.date.slice(5, 7);
          }
        );
      }

      return grouppedByMonth;
    }
  },
  async mounted() {
    const url = routes.api.stock_symbol_daily_summaries(this.stockSymbolTitle);
    const response = await axios.get(url);

    const stocks: WorldTradingAPI.DailySummary[] = response.data.data;
    const barWidth = (window.screen.width / stocks.length) * 20;

    this.barWidth = barWidth;
    this.stocks = stocks;
    this.loading = false;
  },
  methods: {
    resultColor(stock: WorldTradingAPI.DailySummary) {
      return parseFloat(stock.close) > parseFloat(stock.open) ? "green" : "red";
    },
    selectDate(stock: WorldTradingAPI.DailySummary) {
      this.selectedStock = stock;
    },
    selectYear(year: number) {
      this.selectedYear = year;
      this.changeMode("year");
    },
    changeMode(newMode: string) {
      this.mode = newMode;
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  flex-wrap: wrap;
}

.bar {
  height: 20px;

  &:hover {
    outline: 1px solid #efefef;
  }
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
</style>
