<template>
  <div>
    <button
      v-if="favorited && !loading"
      class="button"
      @click="removeFromFavorited"
    >
      Remove from favorited
    </button>
    <button v-else class="button" @click="addToFavorited">
      Add to favorited
    </button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios, { AxiosResponse } from "axios";
import routes from "utilities/routes";

export default {
  name: "ToggleFavorites",
  data() {
    return {
      loading: true,
      favorited: null,
      stockSymbol: this.$root.symbol as string,
      authToken:
        document.querySelector("meta[name='csrf-token']") &&
        document
          .querySelector("meta[name='csrf-token']")
          .getAttribute("content")
    };
  },
  mounted() {
    this.isUserFavoritedSymbol();
  },
  methods: {
    async isUserFavoritedSymbol() {
      const result = await axios.get<AxiosResponse<{ favorited: boolean }>>(
        routes.api.favorites.check(this.stockSymbol)
      );
      this.favorited = result.data.data.favorited;
      this.loading = false;
    },
    async addToFavorited() {
      const requestParams = {
        setStatus: true,
        authenticity_token: this.authToken
      };
      const result = await axios.post(
        routes.api.favorites.toggle(this.stockSymbol),
        requestParams
      );
      this.favorited = true;
    },
    async removeFromFavorited() {
      const requestParams = {
        setStatus: false,
        authenticity_token: this.authToken
      };
      const result = await axios.post(
        routes.api.favorites.toggle(this.stockSymbol),
        requestParams
      );
      this.favorited = false;
    }
  }
};
</script>
