.annualSummary__thead,
.annualSummary__row,
.annualSummary__tbody {
  display: flex;
}

.annualSummary__cell {
  flex: 1;
  min-height: 30px;
  width: calc(100% / 12);
}

.annualSummary__whiteColor {
  color: white;
}

.annualSummary__yearName,
.annualSummary__value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.annualSummary__monthName {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .annualSummary__value {
    font-size: 8px;
  }

  .annualSummary__yearName,
  .annualSummary__monthName {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .annualSummary__value {
    font-size: 8px;
  }

  .annualSummary__yearName,
  .annualSummary__monthName {
    font-size: 10px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  .annualSummary__value {
    font-size: 11px;
  }

  .annualSummary__yearName,
  .annualSummary__monthName {
    font-size: 12px;
  }
}
