.marketResults {
  display: flex;
  overflow-x: scroll;
}

.marketResult {
  background: #dfe9fa;
  margin-right: 20px;
  padding: 10px 20px;
  min-width: 300px;

  &__monthTitle {

  }
}

.marketResultRow {
  display: flex;
  justify-content: space-between;
}
