- if lifetime_summary.present?
  .columns
    - if openValue = lifetime_summary['first']
      .column
        div: strong Open price (#{openValue['date']})
        div #{ openValue['value'] } #{ currency }

    - if lastKnownValue = lifetime_summary['last']
      .column
        div: strong Last price (#{lastKnownValue['date']})
        div #{ lastKnownValue['value'] } #{ currency }
    .column
      div: strong Overall result
      div #{ lifetime_summary['total_result'] } #{ currency }
    - if highest = lifetime_summary['highest']
      .column
        div: strong Highest price
        div #{ highest } #{ currency }
    - if lowest = lifetime_summary['lowest']
      .column
        div: strong Lowest price
        div #{ lowest } #{ currency }
    / .column
    /   div 52 week change
    /   div 44$
