.annualSummary data-controller='annual-summary'
  .annualSummary__thead
    .annualSummary__cell
      .annualSummary__monthName
    - abbr_month_names.each do |name|
      .annualSummary__cell.annualSummary__monthName = name
  div
    - years_keys.each do |year|
      .annualSummary__row
        .annualSummary__cell.annualSummary__yearName [
          data-type='year'
          data-percent = value_for_year(year)['percent']
          data-absolute = value_for_year(year)['absolute'] ] = year
        - monthes.each do |month|
          .annualSummary__cell.annualSummary__value [
            data-type='month'
            data-percent = value_for_month(year, month)['percent']
            data-absolute = value_for_month(year, month)['absolute']]
              - if value_for_month(year, month)['percent']
                div #{ value_for_month(year, month)['percent'] }%
