- breadcrumb :market, @market

h1.title = @market.title

.separator.separator--margin20

== cell(MarketResultCell, @market, year: 2020)

h2.subtitle Available stocks:

div [
  data-controller='search-stock-symbols'
  data-search-stock-symbols-market=@market.slug
]
