h1.title Sign up

- if flash[:notice]
  = flash[:notice]

= form_with model: User do |f|
  .field
    = f.label :email, class: 'label'
    .control
      = f.text_field :email, class: 'input'
  .field
    = f.label :password, class: 'label'
    .control
      = f.password_field :password, class: 'input'
  = submit_tag "Send", class: "button"

- if @errors
  ul
    - @errors.full_messages.each do |error|
      li = error
