<template>
  <div>
    <header class="year">
      <div class="month" />
      <div
        v-for="monthIndex in [
          '01',
          '02',
          '03',
          '04',
          '05',
          '06',
          '07',
          '08',
          '09',
          '10',
          '11',
          '12'
        ]"
        class="month"
        :style="{ color: 'black' }"
      >
        {{ monthNames[monthIndex] }}
      </div>
    </header>

    <main
      v-for="(monthes, year) of reducedMonthes"
      v-if="Object.keys(reducedMonthes).length"
      class="year"
      @click="selectYear(year)"
    >
      <div
        :style="{
          color: '#000',
          backgroundColor: yearColorScale(yearResults[year])
        }"
        class="month"
      >
        {{ year }}
      </div>
      <div
        v-for="monthIndex in [
          '01',
          '02',
          '03',
          '04',
          '05',
          '06',
          '07',
          '08',
          '09',
          '10',
          '11',
          '12'
        ]"
        :style="{ backgroundColor: colorScale(gaps[`${year}_${monthIndex}`]) }"
        class="month"
      >
        {{ gaps[`${year}_${monthIndex}`] }}
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import { last, first, sum } from "lodash";
import * as d3 from "d3";
import monthNames from "@/utilities/monthes.ts";

export default {
  name: "AnnualStockSummary",
  props: {
    summaries: {
      type: Object,
      required: true,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      gaps: {},
      monthNames
    };
  },
  computed: {
    reducedMonthes() {
      let summaries = this.summaries;

      for (let year in summaries) {
        let monthes = summaries[year];

        for (let month in monthes) {
          if (monthes[month].length <= 2) {
            continue;
          } else {
            monthes[month] = [last(monthes[month]), first(monthes[month])];
            this.gaps[`${year}_${month}`] = parseFloat(
              (monthes[month][1].close - monthes[month][0].open).toFixed(2)
            );
          }
        }

        // if (monthes.length >= 2) {
        //   let firstMonth = first(monthes)
        //   let lastMonth =  last(monthes)
        //   debugger
        //   var yearResult;
        // }

        summaries[year] = monthes;
      }

      return summaries;
    },
    min() {
      return d3.min(Object.values(this.gaps));
    },
    max() {
      return d3.max(Object.values(this.gaps));
    },
    minYearValue() {
      return d3.min(Object.values(this.yearResults));
    },
    maxYearValue() {
      return d3.max(Object.values(this.yearResults));
    },
    colorScale() {
      return d3
        .scaleLinear<d3.RGBColor | d3.HSLColor>()
        .domain([this.min, 0, this.max])
        .range([d3.color("red"), d3.color("#c7c7c7"), d3.color("green")]);
    },
    yearColorScale() {
      return d3
        .scaleLinear<d3.RGBColor | d3.HSLColor>()
        .domain([this.minYearValue, 0, this.maxYearValue])
        .range([d3.color("red"), d3.color("#c7c7c7"), d3.color("green")]);
    },
    yearResults() {
      if (!this.reducedMonthes && !this.gaps) {
        return null;
      }

      let years = {};

      for (let year in this.reducedMonthes) {
        years[year] = this.yearColorResult(year);
      }

      return years;
    }
  },
  methods: {
    selectYear(year: any) {
      this.$emit("selectYear", year);
    },
    yearColorResult(year: string) {
      let yearValues = [];

      for (let key in this.gaps) {
        if (key.startsWith(year)) {
          yearValues.push(this.gaps[key]);
        }
      }

      return sum(yearValues);
    }
  }
};
</script>

<style scoped lang="scss">
.year {
  display: flex;
  cursor: pointer;
  border: 1px solid white;

  &:hover {
    border: 1px solid #efefef;
  }
}

.month {
  height: 30px;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
}
</style>
