<template>
  <div>
    <h2 class="subtitle">
      Short stock summary
    </h2>
    <div class="columns is-multiline">
      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Symbol
        </div>
        <div class="value">
          {{ summary.symbol }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Name
        </div>
        <div class="value">
          {{ summary.name }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Currency
        </div>
        <div class="value">
          {{ summary.currency }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Price
        </div>
        <div class="value">
          {{ summary.price }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Price open
        </div>
        <div class="value">
          {{ summary.price_open }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Day high
        </div>
        <div class="value">
          {{ summary.day_high }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Day low
        </div>
        <div class="value">
          {{ summary.day_low }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          52 week high
        </div>
        <div class="value">
          {{ summary["52_week_high"] }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          52 high low
        </div>
        <div class="value">
          {{ summary["52_week_low"] }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Day change
        </div>
        <div class="value">
          {{ summary.day_change }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Change pct.
        </div>
        <div class="value">
          {{ summary.change_pct }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Close yeasterday
        </div>
        <div class="value">
          {{ summary.close_yesterday }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Market cap
        </div>
        <div class="value">
          {{ summary.market_cap }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Volume
        </div>
        <div class="value">
          {{ summary.volume }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Volume avg.
        </div>
        <div class="value">
          {{ summary.volume_avg }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Shares
        </div>
        <div class="value">
          {{ summary.shares }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Stock exchange long
        </div>
        <div class="value">
          {{ summary.stock_exchange_long }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Stock exchange short
        </div>
        <div class="value">
          {{ summary.stock_exchange_short }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Timezone
        </div>
        <div class="value">
          {{ summary.timezone_name }}
        </div>
      </div>

      <div class="column is-2-desktop is-6-mobile">
        <div class="label">
          Last trade day
        </div>
        <div class="value">
          {{ beautyDate(summary.last_trade_time) }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import routes from "@/utilities/routes.ts";
import { API } from "types/api";
import { WorldTradingAPI } from "types/world_trading_api";
import * as dayjs from "dayjs";

export default {
  name: "ShortSummary",
  props: {
    slug: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      summary: {
        symbol: null,
        name: null,
        currency: null,
        price: null,
        price_open: null,
        day_high: null,
        day_low: null,
        "52_week_high": null,
        "52_week_low": null,
        day_change: null,
        change_pct: null,
        close_yesterday: null,
        market_cap: null,
        volume: null,
        volume_avg: null,
        shares: null,
        stock_exchange_long: null,
        stock_exchange_short: null,
        timezone: null,
        timezone_name: null,
        gmt_offset: null,
        last_trade_time: null
      } as WorldTradingAPI.IShortSummary
    };
  },
  mounted(): void {
    this.getSummary();
  },
  methods: {
    async getSummary() {
      var result = await axios.get<{ data: WorldTradingAPI.IShortSummary }>(
        routes.api.stock_symbol_short_summary(this.slug as string)
      );
      this.summary = result.data.data;
    },
    beautyDate(date: string) {
      if (date === "" || date !== "N/A" || !date) {
        return null;
      } else {
        return dayjs(date).format("DD MMM YYYY");
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.label {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.value {
  font-size: 0.875rem;
  line-height: 1.25;
}
</style>
