<template>
  <div>
    <button class="button" @click="$emit('changeMode', 'annual')">
      Back
    </button>
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Open</th>
          <th>Close</th>
          <th>High</th>
          <th>Low</th>
          <th>Volume</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="summary in filteredByYear">
          <td>{{ summary.date }}</td>
          <td>{{ summary.open }}</td>
          <td>{{ summary.close }}</td>
          <td>{{ summary.high }}</td>
          <td>{{ summary.low }}</td>
          <td>{{ summary.volume }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { sortBy, first, last } from "lodash";

export default {
  name: "DailyStockSummariesList",
  props: {
    summaries: {
      type: Array
    },
    year: {
      type: String
    }
  },
  computed: {
    filteredByYear() {
      return this.summaries.filter(daily_summary => {
        return daily_summary.date.startsWith(this.year);
      });
    }
  }
};
</script>
