<template>
  <nav class="pagination" role="navigation" aria-label="pagination">
    <button v-if="!firstPage" class="pagination-previous" @click="previousPage">
      Previous
    </button>
    <button v-if="!lastPage" class="pagination-next" @click="nextPage">
      Next page
    </button>

    <div>
      Page {{ this.resultsPaginationInfo.page }} of
      {{ this.resultsPaginationInfo.pages }} | Total results:
      {{ this.resultsPaginationInfo.count }}
    </div>
  </nav>
</template>

<script lang="ts">
export default {
  name: "Pagination",
  props: {
    resultsPaginationInfo: {
      type: Object,
      required: true
    }
  },
  computed: {
    firstPage() {
      return this.resultsPaginationInfo.page === 1;
    },
    lastPage() {
      return (
        this.resultsPaginationInfo.pages === this.resultsPaginationInfo.page
      );
    }
  },
  methods: {
    previousPage() {
      this.$emit("previousPage");
    },
    nextPage() {
      this.$emit("nextPage");
    }
  }
};
</script>
