/ .has-shadow
nav#navbar.navbar.is-light [
  data-controller='header-menu'
  aria-label="main navigation"
  role="navigation"
]
  .container
    .navbar-brand
      = link_to 'Heroes of markets', root_path, class: 'navbar-item'

      a [
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target='header-menu.menuButton' ]
        span aria-hidden="true"
        span aria-hidden="true"
        span aria-hidden="true"

    .navbar-menu data-target='header-menu.menuContainer'
      .navbar-start
        = link_to 'Home', root_path, class: 'navbar-item'
        = link_to 'Stocks', stock_symbols_path, class: 'navbar-item'
        = link_to 'Tools', tools_path, class: 'navbar-item'
      .navbar-end
        - if @current_user.present?
          .navbar-item.has-dropdown.is-hoverable
            .navbar-link.button.is-light = @current_user.email
            .navbar-dropdown
              = link_to 'Profile', profile_users_path, class: 'navbar-item'
              = link_to 'Favorited stocks', favorited_stocks_users_path, class: 'navbar-item'
              hr.navbar-divider
              button.navbar-item  data-target='header-menu.logoutButton' Exit
        - else
          .navbar-item
            .buttons
              = link_to new_users_path, class: 'button is-primary'
                strong Sign up
              = link_to login_users_path, class: 'button is-light'
                strong Sign in
