doctype html
html lang='en'
  head
    - if Rails.env.production?
      = javascript_include_tag 'https://www.googletagmanager.com/gtag/js?id=UA-7091055-22', async: true
      = javascript_pack_tag 'google_analytics', defer: true
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application', defer: true
    = display_meta_tags heroes_of_markets_meta_tags
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="yandex-verification" content="afd9c21f42e86e1f"
  body
    = render 'layouts/top_menu'
    = render 'layouts/breadcrumbs'
    .container.mobilePadding
      = yield
    footer.footer
      .container
        = link_to 'admin@heroes-of-markets.com', 'mailto:admin@heroes-of-markets.com', title: 'Contacting email'
