= form_with model: [:panel, @article] do |f|
  = render 'layouts/errors', errors: @article.errors.full_messages

  .field
    = f.label :title, class: 'label'
    = f.text_field :title, class: 'input'

  .field
    = f.label :content, class: 'label'
    = f.rich_text_area :content, class: 'textarea'

  .columns
    .column.field
      = f.label :source_link, class: 'label'
      = f.text_field :source_link, class: 'input'
    .column.field
      = f.label :source_description, class: 'label'
      = f.text_field :source_description, class: 'input'

  - if @article.persisted?
    h2.subtitle Effect on symbols
    .fieldset
      = f.fields_for :article_stock_symbol_effects do |assef, id|
        .columns
          .column
            = assef.label :stock_symbol, class: 'label'
            = assef.text_field :stock_symbol_id, class: 'input'
          .column
            = assef.label :effect, class: 'label'
            .select
              = assef.select :effect,
                ArticleStockSymbolEffect.states.collect { |state| [state[0], state[1]] },
                include_blank: true

  = f.button 'Create', class: 'button'
