.level
  .level-left
    h1.title Articles
  .level-right
    = link_to 'Create new', new_panel_article_path, class: 'button is-primary'

.itemsList
  = render partial: 'panel/articles/articleItem',
    collection: @articles,
    as: :article,
    cached: true
