div [
  data-controller='search-stock-symbols'
  data-search-stock-symbols-market=@market.id
]

/ - @records.each do |record|
/   = link_to record.title, market_stock_symbol_path(id: record, market_id: @market.id)
/
/ == pagy_nav(@pagy)
/ / == render 'pagy/nav', locals: {pagy: @pagy}
