- breadcrumb :stock_symbol, market: @market, stock_symbol: @symbol

/ Header
.level
  .level-left
    h1.title = @symbol.full_name
  .level-right
    - if @current_user.present?
      div [
        data-controller='user-favorite-symbol'
        data-user-favorite-symbol-symbol-slug=@symbol.slug
      ]

/ .separator.separator--margin20
/ == cell(StockSiblingCell, @symbol.children) if @symbol.children.present?

.separator.separator--margin20
== cell(StockShortSummaryCell, @symbol)
/ == cell(StockSiblingCell, @symbol.children) if @symbol.children.present?

.separator.separator--margin20
h2.subtitle Price history
== cell(AnnualSummaryCell, @symbol.lifetime_summary)
.separator.separator--margin20

/ Chart
br
div [
  data-controller='daily-chart'
  data-daily-chart-stock-symbol=@symbol.id
  data-daily-chart-stock-symbol-title=@symbol.title
]
