- if results_for_all_years.present?
  - available_years.reverse.each do |year|
    h2.subtitle = year

    .marketResults
      - monthes_by_year(year).each do |index, month_result|
        .marketResult
          h1 = monthes_names[index -1]
          - leaders(month_result).each do |market_result|
            .marketResultRow
              div
                = link_to market_stock_symbol_path(model.slug, market_result.stock_symbol.slug)
                  = title(market_result)
              div = result_title(market_result)
          hr
          - loosers(month_result).reverse.each do |market_result|
            .marketResultRow
              div
                = link_to market_stock_symbol_path(model.slug, market_result.stock_symbol.slug)
                  = title(market_result)
              div = result_title(market_result)

.separator.separator--margin20
