- if results.present?
  .level
    .level-left
      h2.subtitle Leaders of #{ current_year } year:
    .level-right
      = link_to 'Results from previous years', market_results_path(model)

  .is-multiline.marketResults
    - results.each do |index, month_result|
      .marketResult
        h1 = monthes_names[index -1]
        - leaders(month_result).each do |market_result|
          .marketResultRow
            div
              = link_to market_stock_symbol_path(model.slug, market_result.stock_symbol.slug)
                = title(market_result)
            div = result_title(market_result)
        hr
        - loosers(month_result).reverse.each do |market_result|
          .marketResultRow
            div
              = link_to market_stock_symbol_path(model.slug, market_result.stock_symbol.slug)
                = title(market_result)
            div = result_title(market_result)

.separator.separator--margin20
