@media screen and (max-width: $desktop) {
  .navbar-menu {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
  }

  .navbar-start,
  .navbar-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
