.itemsList {
  &__item {
    padding: 10px 10px 10px 0;
    display: flex;
    align-items: flex-start;
  }

  &__flag {
    height: 20px;
    width: 33px;
    vertical-align: middle;
    margin-right: 10px;
  }
}
