<template>
  <div>
    <b>#{{ item.id }}</b>
    <span>{{ item.title }}</span>
    <abbr>{{ item.full_name }}</abbr>
  </div>
</template>

<script lang="ts">
export default {
  name: "AutocompleteItem",
  props: {
    item: { required: true },
    searchText: { required: true }
  }
};
</script>
