<template>
  <div v-if="loaded" :class="[this.result]">
    From {{ this.firstDate }} ({{ this.firstValue.close }}) to
    {{ this.lastDate }} ({{ this.lastValue.close }})
  </div>
</template>

<script lang="ts">
export default {
  props: {
    values: {
      type: Object,
      required: true
    },
    result: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      firstDate: null,
      lastDate: null,
      loaded: false
    };
  },
  watch: {
    values(newVal, oldVal) {
      this.values = newVal;
      this.drawSummary();
    },
    result(newVal, oldVal) {
      this.result = newVal;
      this.drawSummary();
    }
  },
  mounted(): void {
    this.drawSummary();
  },
  methods: {
    drawSummary() {
      const dates = Object.keys(this.values);

      this.lastDate = dates[0];
      this.firstDate = dates[dates.length - 1];

      this.loaded = true;
    }
  },
  computed: {
    resultInPercents() {
      return ''
      // return (this.firstValue.close * 100) / this.lastValue.close
    },
    lastValue() {
      return this.values[this.lastDate]
    },
    firstValue() {
      return this.values[this.firstDate]
    }
  }
};
</script>

<style>
.positive {
  color: forestgreen;
}

.negative {
  color: red;
}
</style>
