<template>
  <div style="overflow: hidden" class="chartContainer">
    <div class="chart" />
    <div class="chartLegend chartLegend--onRightSide" />
  </div>
</template>
<!--https://observablehq.com/@d3/line-chart-with-tooltip-->
<!--http://www.d3noob.org/2014/07/my-favourite-tooltip-method-for-line.html-->
<!--https://bl.ocks.org/larsenmtl/e3b8b7c2ca4787f77d78f58d41c3da91-->
<!--https://github.com/paulhoughton/bollingerbands-->

<script lang="ts">
import * as d3 from "d3";
import { parse, format } from "date-fns";
import { closestIndexTo } from "date-fns";

export default {
  props: {
    values: {
      type: Object,
      required: true
    },
    ticks: {
      type: Function,
      required: true
    },
    ticksFormat: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      margin: { top: 20, right: 20, bottom: 30, left: 50 },
      height: 300 - 20 - 30,
      width: null,
      hEach: 40,
      x: null,
      y: null,
      svgContainer: null,
      mouseMoveContainer: null,
      focusCircle: null,
      chartLegend: null,
      legend: null
    };
  },
  computed: {
    transformedIntraday() {
      return Object.keys(this.values).map(key => {
        this.values[key]["date"] = parse(key);
        this.values[key]["close"] = +this.values[key]["close"];

        return this.values[key];
      });
    },
    datesInValues() {
      return this.transformedIntraday.map((d: any) => d.date);
    }
  },
  watch: {
    values(newVal, oldVal) {
      this.values = newVal;
      this.drawChart();
    }
  },
  mounted(): void {
    this.chartLegend = d3.select(this.$el.querySelector(".chartLegend"));
    this.drawChart();
  },
  methods: {
    redrawChart() {
      const t = d3.transition().duration(500);

      this.setDomains();
      this.setScales();
      this.makeGrid()
      this.renderMaxAndMinArea()
      this.renderValuesLine()
      this.renderBottomAxis()
      this.renderLeftAxis()
    },
    drawChart() {
      this.$el.querySelector(".chart").innerHTML = "";

      this.setSize();
      this.setScales();
      this.setDomains();
      this.createContainer();
      this.createMouseMoveContainer();
      this.createFocusCircle();
      this.makeGrid()
      this.renderMaxAndMinArea()
      this.renderValuesLine()
      this.renderBottomAxis()
      this.renderLeftAxis()
    },
    renderLeftAxis() {
      this.svgContainer.append("g").call(d3.axisLeft(this.y));
    },
    renderBottomAxis() {
      this.svgContainer
        .append("g")
        .attr("transform", "translate(0," + this.height + ")")
        .call(
          d3
            .axisBottom(this.x)
            .ticks(this.ticks)
            .tickFormat(this.ticksFormat)
        );
    },
    renderMaxAndMinArea() {
      const area = this.area();

      this.svgContainer
        .append("path")
        .data([this.transformedIntraday])
        .attr("class", "area")
        .attr("d", area);
    },
    renderValuesLine() {
      const valueline = this.line();

      this.svgContainer
        .append("path")
        .data([this.transformedIntraday])
        .attr("class", "line")
        .attr("d", valueline);
    },
    setSize() {
      const elementContainer = this.$el.getBoundingClientRect();
      // this.width = 1334 - this.margin.left - this.margin.right
      this.width =
        elementContainer.width - this.margin.left - this.margin.right;
      // this.height = ((elementContainer.width * 9) / 16) - this.margin.top - this.margin.bottom
    },
    createFocusCircle() {
      this.focusCircle = this.svgContainer.append("g").style("display", "none");

      this.focusCircle
        .append("circle")
        .attr("class", "y")
        .style("fill", "none")
        .style("stroke", "blue")
        .attr("r", 4);
    },
    setScales() {
      this.x = d3.scaleTime().range([0, this.width]);
      this.y = d3.scaleLinear().range([this.height, 0]);
    },
    line() {
      return d3
        .line()
        .x((d: any) => {
          return this.x(d.date);
        })
        .y((d: any) => {
          return this.y(d.close);
        })
        .curve(d3.curveLinear);
    },
    createContainer() {
      this.svgContainer = d3
        .select(this.$el.querySelector(".chart"))
        .append("svg")
        .attr("width", this.width + this.margin.left + this.margin.right)
        .attr("height", this.height + this.margin.top + this.margin.bottom)
        .append("g")
        .attr(
          "transform",
          "translate(" + this.margin.left + "," + this.margin.top + ")"
        );
    },
    createMouseMoveContainer() {
      this.mouseMoveContainer = this.svgContainer
        .append("rect")
        .attr("width", this.width)
        .attr("height", this.height)
        .style("fill", "none")
        .style("pointer-events", "all")
        .on("mouseover", this.onMouseOver)
        .on("mouseout", this.onMouseOut)
        .on("mousemove", this.onMouseMove);
    },
    onMouseOver() {
      this.focusCircle.style("display", null);
      this.chartLegend.style("display", "block");
    },
    onMouseOut() {
      this.focusCircle.style("display", "none");
      this.chartLegend.style("display", "none");
    },
    onMouseMove() {
      // Mouse position
      const [x, y] = d3.mouse(this.mouseMoveContainer.node());
      // Hovered date
      const x0 = this.x.invert(x);

      const selectedDateIndex = closestIndexTo(x0, this.datesInValues);
      const selectedDate = this.transformedIntraday[selectedDateIndex];

      this.focusCircle
        .select("circle.y")
        .attr(
          "transform",
          `translate(${this.x(x0)}, ${this.y(selectedDate.close)})`
        );

      this.chartLegend.html(`
<div>Date: ${format(selectedDate.date, "DD MMM YYYY")}</div>
<div>Open: ${selectedDate.open} </div>
<div>Close: ${selectedDate.close}</div>
<div>Low: ${selectedDate.low}</div>
<div>High: ${selectedDate.high}</div>
<div>Volume: ${selectedDate.volume}</div>
`);

      this.toggleLegendPosition(x, this.mouseMoveContainer.node());
    },
    toggleLegendPosition(xPosition, container) {
      const containerWidth = container.getAttribute("width");

      if (
        xPosition < containerWidth / 2 &&
        this.chartLegend.classed("chartLegend--onRightSide", false)
      ) {
        this.chartLegend.classed("chartLegend--onRightSide", true);
        this.chartLegend.classed("chartLegend--onLeftSide", false);
      } else if (
        xPosition >= containerWidth / 2 &&
        this.chartLegend.classed("chartLegend--onLeftSide", false)
      ) {
        this.chartLegend.classed("chartLegend--onRightSide", false);
        this.chartLegend.classed("chartLegend--onLeftSide", true);
      }
    },
    setDomains() {
      this.x.domain(
        d3.extent(this.transformedIntraday, (d: any) => {
          return d.date as Date;
        })
      );

      this.y.domain([
        d3.min(this.transformedIntraday, (d: any) => {
          return Number(d.low) as number;
        }),
        d3.max(this.transformedIntraday, (d: any) => {
          return Number(d.close) as number;
        })
      ]);
    },
    area() {
      return d3
        .area()
        .x((d: any) => {
          return this.x(d.date);
        })
        .y1((d: any) => {
          return this.y(d.high);
        })
        .y0((d: any) => {
          return this.y(d.low);
        })
        .curve(d3.curveMonotoneX);
    },
    makeGrid() {
      this.svgContainer
        .append("g")
        .attr("class", "grid")
        .attr("transform", "translate(0," + this.height + ")")
        .call(
          d3.axisBottom(this.x)
            .ticks(5)
            .tickSize(-this.height)
            .tickFormat(format => '')
        )

      this.svgContainer.append("g")
        .attr("class", "grid")
        .call(
          d3
            .axisLeft(this.y)
            .ticks(5)
            .tickSize(-this.width)
            .tickFormat(format => '')
        )
    }
  }
};
</script>

<style lang="scss">
.chartContainer {
  position: relative;
  background: #ececec36;
  padding: 10px 0;
  margin-bottom: 20px;
  min-height: 326px;
}

.chartLegend {
  position: absolute;
  top: 20px;
  border: 1px solid lightgrey;
  padding: 10px 20px;
  border-radius: 3px;
  display: none;
  background: white;

  &--onRightSide {
    right: 20px;
  }

  &--onLeftSide {
    left: 700px;
  }
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area {
  fill: rgba(70, 130, 180, 0.37);
  stroke: lightgrey;
  stroke-width: 1px;
}
</style>
